body {
    background-image: url("https://media.tenor.com/1j4FuJXiKkYAAAAd/abstract-neon-line.gif");
}
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;

}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.skill-bubble-list {
  display: flex;
  flex-direction: row;
  
  
}

.desc-label {
  background: #00D700;
  -webkit-box-shadow:0px 0px 80px 12px #44fc75;
-moz-box-shadow: 0px 0px 80px 12px #44fc75;
box-shadow: 0px 0px 80px 12px #44fc75;
padding: 30px;
margin: 20px;
border-radius: 25%;
}

.skill-section {
    background: black;
    padding: 50px;
    margin: 30px;
    border-radius: 10%;
    -webkit-box-shadow:0px 0px 80px 12px black;
-moz-box-shadow: 0px 0px 80px 12px black;
box-shadow: 0px 0px 80px 12px black;
}

.nav-bar {
    display: flex;
    align-items: center;
}
.nav-bar h2 {
    padding: 30px;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}
#bubble-icon {
  font-size: 5em;
}
a h2 {
  color: orange;
}

img {
  border-radius: 50%;
}

#footer{
  background: black;
  padding: 2em;
  border-radius: 10%;
}